* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to bottom right, rgb(144, 0, 255), black);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

a {
    text-decoration: none;
}

footer {
    background-color: rgb(37, 37, 37);
    bottom: 0;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
}

#home {
    margin-top: 250px;
    margin-right: 20px;
    margin-left: 20px;
}

#home h1.title {
    width: auto;
    margin: 0 auto;
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-align: center;
    animation: slide-down 1s forwards ease;
}

#home h2.title {
    width: auto;
    margin: 0 auto;
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-align: center;
    animation: slide-down 1.5s forwards ease;
    margin-top: 20px;
}
#home h3.title {
    width: auto;
    margin: 0 auto;
    font-family: "Ubuntu", sans-serif;
    color: white;
    text-align: center;
    animation: slide-down 1.8s forwards ease;
    margin-top: 20px;
}

#home .name {
    display: block;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: "Aoboshi One", sans-serif;
    border-radius: 3px;
    padding: 10px;
    font-size: 50px;
    margin-top: 20px;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    animation: slide-down 1.3s forwards ease;
}

#home .name:hover {
    scale: 1.2;
    box-shadow: 0 5px 8px 0 black;
    rotate: 2deg;
}

#home .btn {
    font-family: "Ubuntu", sans-serif;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px !important;
    text-align: center;
    display: block;
    width: 150px;
    margin: 0 auto;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
    animation: slide-down 1.5s forwards ease-in-out;
}

#home .btn:hover,
#home .btn:active {
    scale: 1.2;
}

/* about section */
#about {
    margin-top: 500px;
    padding: 50px;
    padding-top: 70px !important;
    background-color: rgba(255, 255, 255, 0.166);
    backdrop-filter: blur(20px);
}

#about .title {
    font-family: "Ubuntu", sans-serif;
    font-size: 40px;
    color: white;
    margin: 0 auto;
    width: auto;
    text-align: center;
}

#about .aboutme {
    font-family: "Tsukimi Rounded", sans-serif;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: auto;
    font-size: 20px;
}

#about .aboutme a {
    text-decoration: none;
    padding: 2.5px;
    padding-left: 5px;
    cursor: pointer;
    padding-right: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    transition: all 0.2s ease-in-out;
}

#about .aboutme a:hover {
    font-size: 22px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

#projects {
    margin-top: 200px;
    margin-right: 50px;
    margin-left: 50px;
    padding-top: 150px;
}

#projects .title {
    text-align: center;
    font-family: "Aoboshi One", sans-serif;
    color: white;
}

#projects .desc {
    margin-top: 5px;
    text-align: center;
    font-family: "Tsukimi Rounded", sans-serif;
    color: white;
}

#projects .project-grid {
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

#projects .project-grid li {
    background-color: rgba(0, 0, 0, 0.306);
    display: inline-block;
    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    backdrop-filter: blur(12px);
}

#projects .project-grid li img {
    width: 500px;
    height: 250px;
}
#projects .project-grid li .ptitle {
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "Tsukimi Rounded", sans-serif;
}

#projects .project-grid li .pdesc {
    color: gray;
    font-family: "Aoboshi One", sans-serif;
    text-align: center;
}

#projects .project-grid li .pfeat {
    color: rgb(0, 0, 0);
    margin-top: 15px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    display: inline-block;
    border-radius: 5px;
    font-family: "Aoboshi One", sans-serif;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.pfeat:hover,
.pfeat:active,
.pfeat:focus {
    scale: 1.2;
}

#projects .project-grid li .pnobtn {
    color: white;
    margin-top: 30px;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
}

#projects .project-grid li .project-info {
    text-align: center;
}

/* contact section */
#contact {
    margin-top: 250px;
}

#contact .title {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: "Slackside One", sans-serif;
    font-size: 50px;
}

#contact div {
    margin: 30px;
    text-align: center;
    width: auto;
    height: auto;
}

#contact div a img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

#contact div a img:hover,
#contact div a img:active,
#contact div a img:focus {
    width: 115px;
    height: 115px;
    box-shadow: 0 3px 5px rgb(183, 183, 183);
}

#contact .discordwidget {
    margin-top: 30px !important;
    margin: 50px auto;
}

#contact .info {
    text-align: center;
    margin: 0 auto;
    color: white;
    font-family: "Ubuntu", sans-serif;
}

/* buttons */
.github {
    cursor: pointer;
    background-color: #2c2c2c;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    font-family: "Aoboshi One", sans-serif;
    transition: all 0.2s ease-in-out;
}

.preview {
    cursor: pointer;
    background-color: #0040ff;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    font-family: "Aoboshi One", sans-serif;
    transition: all 0.2s ease-in-out;
}

.github:hover,
.preview:hover,
.github:active,
.preview:active,
.github:focus,
.preview:focus {
    scale: 1.2;
}

/* animations */
@keyframes slide-down {
    from {
        opacity: 0.2;
        transform: translateY(-250px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-right {
    from {
        opacity: 0.2;
        transform: translateX(250px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* responsives */
@media (max-width: 768px) {
    #projects .project-grid li img {
        width: 250px;
        height: 125px;
    }

    #projects .project-grid li .ptitle {
        font-size: 20px;
    }

    #projects .project-grid li .pdesc {
        font-size: 15px;
    }
}
